# files related to local development/usage
.DS_Store
*/.ipynb_checkpoints
*/.snakemake
__pycache__/
*.egg-info/
.ruff_cache/

# docs
docs/build/

# test analysis
tests/small_test_analysis/.snakemake/
tests/small_test_analysis/brieflow_output/
tests/small_test_analysis/small_test_data/
**/brieflow_output_*/
